
BionetApp/BioNetSangLocSoSinh/BioNetSangLocSoSinh/bin/Debug/DevExpress.Map.v15.2.Core.xml
BionetApp/BioNetSangLocSoSinh/BioNetSangLocSoSinh/bin/Debug/DevExpress.DataAccess.v15.2.UI.xml
BionetApp/BioNetSangLocSoSinh/BioNetSangLocSoSinh/bin/Debug/DevExpress.Data.v15.2.xml
*.xml
*.txt
*.txt
*.licenses
